/* Style for the button at the top */
.header {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Image grid style */
.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.car-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.car-card p {
    text-align: center;
    font-size: 1rem;
    color: #333;
}
